{
  "sta": {
    "enabled": true,
    "essid": {
      "<ESSID>": "<PASSWORD>",
      "<ESSID2>": "<PASSWORD2>"
    }
  },
  "ap": {
    "enabled": true,
    "essid": "py-node",
    "password": "12345678"
  }
}